Tabtme,
h1{
    font-family: 'Georgia', 'Times', Times New Roman, serif;
}

ul,
p {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}

html,
body{
    background-image: url(assets/images/arches.png);
    height: 100%;
    margin: 0;
}

body {
    
    margin: 0 auto;
   
}

header{
    border-bottom: solid#cccccc 2px;
    padding-top: 25px;
    overflow: auto;
}

.head {
    width: 960px;
    margin: 0 auto;

}

h1{
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 36px;
    padding: 5px;
    float: left;
    margin: 0;

}


ul{
    top:10px;
    bottom: 0;
    float:right;
    text-align: center;
}

li{
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 15px;

}

.content {
    content: "";
    clear: both;
    border: solid 1px #cccccc;
    overflow: auto;
    width: 960px;
    margin: 0 auto;
    margin-bottom: 100px;


}

.txtbox{
    margin: 20px;
}
.profileimage {
    height:200px;
    width:200px;
}

#abtme {
    font-size: 36px;
    color:#4aaaa5;
    border-bottom:#cccccc 3px solid;
    mar
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;  
    padding-top:10px;
    text-align:center;
    border-top: solid 5px #4aaaa5;
    background:#666666;
    color: white;

 }